<section class='w-full o-container o-container--lg'>
  <table class='w-full'>
    <thead>
      <tr>
        <th class='border-2 uppercase'>
          <h2 class='mx-6'>Name </h2>  
        </th>
        <th class='border-2 uppercase'>
        <span class='flex justify-center'>
          Image
        </span>
      </th>
      <th class='border-2 uppercase'>
        <h2 class='mx-6'>Stats </h2>  
      </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of (pokemons$ | async); trackBy: trackByName">
        <td class="border-2 text-center capitalize">{{(pokemon | async)?.name}}</td>
        <td class="border-2"> 
          <div>
            <img class="mx-auto block" [src]="(pokemon | async)?.sprites?.front_default"/>
          </div>
        </td>

        <td class="border-2 px-4">
          <ul class="mx-auto grid md:grid-cols-2 grid-cols-1">
            <li class="flex" *ngFor="let stats of (pokemon | async)?.stats">
              <h2 class="capitalize font-bold">{{stats?.stat?.name | kebabCase}}</h2>: <p>{{stats?.base_stat}}</p>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <m-pagination [limit]="5" [offset]="0" (pageChanged)='pageChanged($event)' ></m-pagination>

</section>
