<section class='w-full o-container o-container--lg'>
  <table class='w-full'>
    <thead>
      <tr>
        <th class='border-2 uppercase'>
          <h2 class='mx-6'>Name </h2>  
        </th>
        <th class='border-2 uppercase'>
          <h2 class='mx-6'>Image </h2>  
        </th>
        <th class='border-2 uppercase'>
          <h2 class='mx-6'>Stats </h2>  
        </th>
        <th class='border-2 uppercase'>
          <h2 class='mx-6'>Actions </h2>  
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let pokemon of (pokemons$ | async); trackBy: trackByName"> 
      <tr *ngIf="pokemon | async as pokemonDetail" >
        <td (click)="pokemonInfo(pokemonDetail!.name)" class="border-2 text-center cursor-pointer hover:opacity-75 capitalize">{{pokemonDetail?.name}}</td>
        <td (click)="pokemonInfo(pokemonDetail!.name)" class="border-2 cursor-pointer hover:opacity-75"> 
          <div>
            <img class="mx-auto block" [src]="pokemonDetail?.sprites?.front_default"/>
          </div>
        </td>

        <td class="border-2 px-4">
          <ul class="mx-auto grid md:grid-cols-2 grid-cols-1">
            <li class="flex" *ngFor="let stats of pokemonDetail?.stats">
              <h2 class="capitalize font-bold">{{stats?.stat?.name | kebabCase}}</h2>: <p>{{stats?.base_stat}}</p>
            </li>
          </ul>
        </td>

        <td class="border-2 text-center capitalize">
          <button class="cursor-pointer hover:opacity-75" *ngIf="(user$ | async) as user" (click)="addToWishlist(user?.id, pokemonDetail!.name)">Add to wishlist</button> <br>
          <button class="cursor-pointer hover:opacity-75" *ngIf="(user$ | async) as user" (click)="catchPokemon(user?.id, pokemonDetail!.name)">Catch Pokemon</button> <br>
        </td>
      </tr>
    </ng-container> 
    </tbody>
  </table>

  <m-pagination [limit]="startLimit" [selectLimit]="selectLimit" [offset]="startOffset" (pageChanged)='pageChanged($event)' ></m-pagination>

</section>
