<div class="block mx-auto p-6 rounded-lg shadow-lg bg-white max-w-md">
  <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <button type="submit" class="o-auth-button">Sign in</button>
    <p class="text-gray-800 mt-6 text-center">Don't have an account? <a routerLink="/register"
      class="text-blue-600 hover:text-blue-700 focus:text-blue-700 transition duration-200 ease-in-out">Register</a>
    </p>
    <small>{{(message$ | async)?.message}}</small>
  </form>
</div>