<a class="p-4" *ngIf="variant == 'nav'" routerLink={{to}}>
  <ng-container *ngTemplateOutlet="linkText"></ng-container>
</a>
<a class="p-4" *ngIf="variant == 'link'" href={{to}}>
  <ng-container *ngTemplateOutlet="linkText"></ng-container>
</a>
<button [class]="isActive ? 'a-button__pagination-active': 'a-button__pagination'" isActive="isActive" *ngIf="variant == 'pagination'">
  <ng-container *ngTemplateOutlet="linkText"></ng-container>
</button>




<ng-template #linkText>
  <ng-content></ng-content>
</ng-template>