<header class='c-header fixed left-0 right-0 top-0 z-50 bg-coral-red'>
  <div class='h-16 c-header__menu md:flex hidden items-center justify-between text-h4 mx-4 py-2'>
    <div>
      <a-button variant='nav' to="pokeindex"> PokeIndex </a-button>
      <a-button variant='nav' to="wishlist"> Wishlist </a-button>
      <a-button variant='nav' to="catched-pokemons"> Catched </a-button>
      <a-button variant='nav' to="ranking"> Ranking </a-button>
    </div>

    <a *ngIf="!user" routerLink="login" class="w-10" >
      <svg-icon src="/assets/svg/login.svg"></svg-icon>
    </a>
    <button (click)="logout()" *ngIf="user" class="w-10" >
      <svg-icon src="/assets/svg/logout.svg"></svg-icon>
    </button>
  </div>
</header>